<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BinPatch.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BinPatch.MainSettings>
            <setting name="ForceIgnoreMD5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuthorName" serializeAs="String">
                <value>Author</value>
            </setting>
            <setting name="UseSameAuthor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceIgnoreBackups" serializeAs="String">
                <value>False</value>
            </setting>
        </BinPatch.MainSettings>
    </userSettings>
</configuration>